/* global */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

body{
   min-height: 100vh;
   background: #bcc4af;
   font-family: 'Arapay';
}
/*  nav*/
a{
   text-decoration: none;
}
a:hover {
     font-size: large;
}
.logo{
   padding-top: 10px;
   font-size: 30px;
   font-weight: 600;
   font-family: 'Italianno', cursive;
   margin-left: 50px;
   color: rgb(103, 79, 47);
}

.ul-item{
   justify-content: end;
}   /* nav справа */
/*
.nav-link{
   color: rgb(33, 33, 103);
} */
.navbar-nav .nav-item {
   font-weight: bold;
}

/* toggler */
.navbar-light .navbar-toggler-icon{
background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")' stroke-width=' 2' stroke-linecap=' round' stroke-miterlimit=' 10' d=' M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

/* navbar-scrolled   объявляем класс, испол в js*/
.navbar-scrolled {
   background-color: rgb(172, 181, 178);
   opacity: 0.6;
   transition: all 1s;
   /* -webkit-text-fill-color: rgba(225, 36, 36, 0.887); */
   font-weight: bold;
}
.navtext-scrolled{
   color: rgb(37, 37, 37);
}

/* header*/
header {
   width: 100vw;
   height: 100vh;
   background-image: url('/img/nepal-mountain.jpg');
   background-position: bottom;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   /* margin-bottom: 40px; */
}

.header-content {
   /* margin-top: 300px; */
position: absolute;
top: 35%;
left: 40%;
   color: whitesmoke;


}

.header-content h2 {
   font-size: 4vmin;
}

.header-content h1 {
   font-size: 7vmin;
   margin-top: 20px;
   margin-bottom: 30px;
}
.btn-first{
padding: 10px 35px;
background: rgba(157, 125, 138, 0.7);
border-radius: 8px;
color: whitesmoke;

}

.line {
   width: 150px;
   height: 4px;
   background: #9d7d8a;
   margin: 10px auto;
}

/* button up */
#btnScrollToTop{
   /* display: none; */
   position: fixed;
   bottom: 20px;
   right: 30px;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: none;
   background-color: rgba(15, 68, 143, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   color: white;
   outline: none;
   cursor: pointer;

   z-index: 99;
   /*
    border: none;
    padding: 15px; */
}

#btnScrollToTop:active{
  background:orange ;
}


/* Events */
 .box-events{
   background-color: rgba(198, 197, 197, 0.7) ;
   margin: 0;
   padding-top: 30px;
}

.container-events{
   width: 90%;
   margin: 0px auto;
   /* gap: 40px; */
}
.title-events{
   text-align: center;
   font-size: 4vmin;
}

.card-title{
   text-align: center;
   font-size: large;
}


/* explore */
.explore{
   width: 100%;
   height: 100vh;
   background-image:url('/img/sunset.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
}
.explore-content{
width: 60%;
padding: 40px;
color:whitesmoke;
display: flex;
flex-direction: column;
text-align: center;
}

.explore-content h1{
font-size: 7vmin;
margin:50px;
}
.explore-content .line{
   margin-bottom:40px ;
}
.explore-content p{
   color: rgb(255, 102, 0);
   font-size: 26px;
}
.explore-content .btn-explore{
margin-top: 30px;
}


/* gallery  */
.gallery-gallery{
   background-color:#F4F1F0;
   padding-bottom: 40px;
}
.title-gallery{
   text-align: center;
   padding-top: 40px;
   font-size: 50px;
}
.img-gallery{
width: 80%;
margin: 50px auto 50px;
display: grid;
/* grid-template-columns: repeat(3, 1fr); */
grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
/* grid-template-rows: 230px repeat(auto-fill, 100px) 300px; */
grid-template-rows: 280px 280px;
grid-gap: 30px;

}

.img-gallery img{
   width: 100%;
   height: 100%;
   object-fit: cover; /* img заполняеи всю ячейку */
   cursor: pointer;
}

.img-gallery img:hover{
transform: scale(0.8) rotate(-15deg);
border-radius: 20px;
box-shadow: 0 32px 75px rgba(68, 77, 136, 0,2);
}

.full-img{
width: 100%;
height: 100vh;
background-color: rgba(180, 180, 201, 0.9);
top: 0;
left: 0;
position: fixed;
display: none; /* после openFullImg  становится flex */
align-items: center;
justify-content: center;
z-index: 100;   /* большая картинка перекрівает маленькую */

}
.full-img img{
   width: 100%;
   max-width: 900px;
  }

.full-img span{
position: absolute;
top: 5%;
right: 5%;
font-size: 45px;
color: #ffff;
cursor: pointer;
}
/* end galery  */

/* footer */
.footer{
   background-color: rgba(142, 164, 203, 0.431);
   width: 100%;
   padding: 3px;
}

.col-footer{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
   .adress{
     display: block;
     text-align: center;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
  }

  .icon {
     display: inline;
     padding: 9px;
  }



@media (max-width: 780px) {

   .title-contact{
      margin-top: 20px;
   }
}


